<!-- <div class='menuitem'><a href="https://www.varshahostel.com">Home</a></div> -->
<div class='menuitem'><a href="./myhome?load=search">Search</a></div>
<div class='menuitem'><a href="./myhome?load=studentlist">List all Students</a></div>

<!-- VP REMOVE -->
{{!-- <div class='menuitem'><a href="javascript:window.demo.signOut()">SignOut</a></div>
<div class='menuitem'><a href="./myhome?load=rooms">Rooms</a></div>
<div class='menuitem'><a href="./myhome?load=userlist">User List</a></div>
<div class='menuitem'><a href="./myhome?load=stageduserlist">New Users</a></div>
<div class='menuitem'><a href="./myhome?load=billtags">Bill Tags</a></div>
<div class='menuitem'><a href="./myhome?load=qr">QR</a></div>
<div class='menuitem'><a href="./myhome?load=colorthecustomers">Color</a></div>
<div class='menuitem'><a href="javascript:window.demo.collectPayment()">Pay Bill</a></div>
<div class='menuitem'><a href="./myhome?load=collectionreport">Collection Report</a></div>


<div class='menuitem'><a href="javascript:window.demo.printThisPage()">Print </a></div>  --}}

