<div class='menuitem'><a href="./myhome">MyHome</a></div>

<!-- <div class='menuitem'><a href="./myhome?load=pendingpay">Pending payment</a></div> -->
<div class='menuitem'><a href="./myhome?load=lasttransaction">Last transaction</a></div>

<div class='menuitem'><a href="javascript:window.demo.signOut()">Sign-Out</a></div>