<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <style>
        table, th, td {
        border: 1px solid pink;
        border-collapse: collapse;
        }
        th, td {
        padding: 3px;
        }
        table tr:nth-child(even) {
        background-color: #eee;
        }
        table tr:nth-child(odd) {
        background-color: #fff;
        }
        table th {
        color: white;
        background-color: black;
        }


    </style>
    <body style="font-family:Arial;font-size:12pt;background-color:#EEEEEE">
        <table border="1" style="width:100%">
            <THEAD>
                <tr>
                    <th>Room ID</th>
                    <th>Description</th>
                    <th>Max Number of People</th>
                    <th>Current Occupancy</th>
                </tr>
            </THEAD>
            {{#each rooms}}
                <tr>
                    <td align="center">
                        <span style="font-weight:bold">
                            {{this.roomId}}
                        </span>
                    </td>
                    <td>
                        <span style="font-weight:bold">
                            {{this.roomDescr}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.numberOfPeople}}
                        </span>
                    </td>
                    <td align="right">
                        <span style="font-weight:bold">
                            {{this.numberOfPeopleOccupied}}
                        </span>
                    </td>
                </tr>
            {{/each}}
        </table>
    </body>
</html>
